/* PETS */
html{
    scroll-behavior: smooth;
}

nav:hover, nav:focus {
    text-decoration: underline;
}

#current{
    color: #6F4E37;
    font-weight:bold;
    text-transform:uppercase
}

body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	background: #f6f5f4;
    overflow-x: hidden;
}

.skip {
    position: absolute;
    top: 30px; 
    left: 10px;
    font-size: 20px; 
    background-color: #f6f5f4;
}

.skip #skip-mobile:focus{
    visibility: visible;
}

.skip a{
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    color: black;
  }

.w3-dropdown-click {
    position: absolute;
    /* margin-top: 10px; */
    /* left: 10px; */
    font-size: 20px; 
    background-color: #6F4E37;
    color: white;
    text-align: left;
}

/* .w3-button a{
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    color: black;
  } */


  nav li{
    display:inline;
    padding-right:20px;
    font-family: Courier, monospace;

  }

  /* #animate{
    animation-name: animate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes animate {
    0%   {text-decoration: underline dotted; }
    25%  {text-decoration: none;}
    50%  {text-decoration: underline dotted;}
    100% {text-decoration: none;}
  } */

.overview{
    background-attachment: fixed;
    background-image: url('../imgs/PETSSS.jpeg'); /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: 	#86837f;
    height: 500px;                /* Parallax effect */
  }


h1
{
    font-size:50px;
    text-align: center;
    font-family: billabong;
    background-color: #f6f5f4;
}

h2
{
    font-size:30px;
    color: #86837f;
    font-family: Verdana;
}
/* 
.skip #skip-mobile {
    display: none;
    visibility: hidden;
} */

h3
{
    font-size:20px;
    color: #000000;
    font-family: Courier, monospace;
    text-decoration: underline dotted;
    font-weight: bold;
    text-align: center;
}

p
{
    line-height: 2.5;
    font-family: Courier, monospace;
    text-align: center;
    font-size: 13px;
}

img 
{
    border: 3px white;
    width:auto;
    padding: 10px;
    margin: 20px;
}

/* ul
{
    display: inline-block;
    margin-left: 50px;
} */

nav
{
    border: 3px black;
    color: black;
}

a{
    border: black;
    color: black;
}

.block ul{
    background-color: #c2b4aa;
    overflow: auto;
    white-space: nowrap;
    margin-left: 15px;
    margin-right:15px;
}

.block ul > li {
    /* display: inline-block; */
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 13px;
}

.block li > img {
    width: 200px ;
}

 .likes > ul  {
    background-color: #f6f5f4;
    text-align: center;
}

.likes > ul > li {
    color:black;
    text-align: center;
    
}

.block .likes > img:hover {
    background-color: white;
}

.likes li{
    font-size: 18px;
    
}

/* .text-block > *{
    padding: 1rem;
} */

.main-photo {
    width: 300px;
    float: left;
}


.skip li {
    color: black;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: 5px;
        padding: 0;
        font-size: 60%;
    }

    /* p{
        float: right;
    } */

    .overview{
        background: url('../imgs/PETSSS.jpeg') no-repeat center;
        background-position: initial;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-size: cover;
    }

    nav li{
        float:none;
        text-align: center;
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }

    h1{
        padding-top: 80px;
    }

    h2{
        text-align: center;
    }

    .likes li{
        text-align: center;
        margin: 0;
        line-height: 2.5;
        font-family: Courier, monospace;
    }
    
    .main-photo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .skip #skip-mobile {
        display: none;
        visibility: hidden;
    }

    #current{
        text-decoration: underline;
    }

    #top{
        display:none;
    }

    .open-button {
        display:none;
      }
/* 
    h2{
    animation-name: animate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    } */


} 

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .overview{
        background: url('../imgs/PETSSS.jpeg') no-repeat center;
        background-position: initial;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-size: cover;
    }

    .block > .main-photo{
        display: none;
        visibility: hidden;
    }

    body{
        /* width: 70%; */
        text-align: center;
        align-items: center;
        margin: 0;
    }

    .skip #skip-mobile {
        display: none;
        visibility: hidden;
    }

    .block ul {
        max-height: 350px; 
        margin-right: 50px;
        margin-left: 50px;
    }

    .text-block img {
    width: 150%;
    }

    h2{
        color:black;
        text-decoration: underline dotted;
    }
    .text-block{
        margin: 10px;
    }

} 

/* ONLY COMPUTER */
@media only screen and (min-width: 1025px) {
    .block ul > li {
        display: inline-block;
    }

    .w3-dropdown-click{
        display:none;
    }

    .open-button {
        display:none;
      }

      #top{
        display:none;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    h2{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    .gif {
        display: none;
        visibility: hidden;
    }
  }
