/* TRAVEL */
html{
    scroll-behavior: smooth;
}

nav:hover, nav:focus {
    text-decoration: underline;
}

.space{
    padding-top: 30px;
}


#current{
    color: darkred;
    font-weight:bold;
    text-transform:uppercase
}

hr{
    border-color: black;
    border-radius: 2px;
}


body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
	font-family: 'Seymour One', sans-serif;
	font-size: 12px;
	color: #323232;
	/* background: #DDD0C8; */
    background: #DDD0C8;
    overflow-x: hidden;
}



.skip {
    position: absolute;
    top: 30px; 
    left: 10px;
    font-size: 20px; 
    background-color: #DDD0C8;
}

.skip a{
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    color: #323232;
  }

  nav .skip-main {
    position: absolute;
    top: -60px; 
    left: 10px;
    opacity: 0;
  }

  nav .skip-main:focus {
    top: 20px; 
    opacity: 1;
    } 

    nav a:focus {
        outline: 2px solid; 
      }

  .w3-dropdown-click {
    position: absolute;
    /* margin-top: 0px; */
    /* left: 10px; */
    font-size: 20px; 
    background-color: #6F4E37;
    color: white;
    text-align: left;
}


.skip #skip-mobile:focus{
    visibility: visible;
}


  nav li{
    display:inline;
    padding-right:20px;
    font-family: 'Seymour One', sans-serif;
    font-size: smaller;

  }

.overview{
    background-attachment: fixed;
    background-image: url('../images/travel-img.webp'); /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: 	#323232;
    height: 500px;                /* Parallax effect */
  }

.overview h1{
    margin-left: 20px;
    margin-right: 20px;
    border: darkred 3px solid;
}

h1
{
    font-size:50px;
    text-align: center;
    font-family: 'Seymour One', sans-serif;
    background-color: #DDD0C8;
}

/* ANIMATION */
@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

h2
{
    font-size:30px;
    color: #323232;
    /* font-family: Verdana; */
    font-family: 'Seymour One', sans-serif;
    animation: slide-in 1000ms;
}

h3
{
    font-size:20px;
    color: #323232;
    font-family: 'Seymour One', sans-serif;
    /* text-decoration: underline dotted; */
    text-align: center ;
    font-weight: bold;
}

p
{
    line-height: 2.5;
    font-family: 'Seymour One', sans-serif;
    text-align: center;
    font-size: 13px;
}

img 
{
    border: 3px white;
    width:auto;
    padding: 10px;
    margin: 20px;
}


nav
{
    border: 3px black;
    color: #323232;
}

a{
    border: black;
    color: #323232;
}


.block ul {
    background-color: #DDD0C8;
    overflow: auto;
    white-space: nowrap;
    border: darkred solid 3px;
    /* opacity: .5; */
}

.block ul > li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
}

.block li > img {
    width: 200px ;
}

.block li img{
    -webkit-filter: blur(3px);
    transition: .5s ease;
}

.block li img:hover {
    box-shadow: 0 0 0 5px white;
    -webkit-filter: blur(0px);
    transition: .5s ease;
    
}


.main-photo {
    width: 400px;
    height: auto;
    float: left;
    max-height: 450px;
    /* border: 1px darkred solid; */
    /* padding-top: 15%; */
}

.skip li {
    color: #323232;
}
.skip li > a {
    color: #323232;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .text-block .main-photo{
    transition: .5s ease;
  }

  .text-block .main-photo:hover {
    box-shadow: 0 0 0 5px white;
    transition: .5s ease;
  }


   .text-block { 
     display: grid; 
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 1fr;  */
    grid-row-gap: 30px;
   } 

   .text-block > *{
    padding: 1rem;
}


#darkMode {
    /* background-color: #555; */
    color: #323232;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 75px;
    font-size: 70px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 70%;
    }

    p{
        float:right;
    }


    .overview{
        background: url('../imgs/prague-high.jpeg') no-repeat center;
        background-position: initial;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-size: cover;
    }

    nav li{
        float:none;
        text-align: center;
    }
    h3{
        text-align: center;
    }

    .scroll-menu {
        width: 100%;
    }

    /* h1{
        padding-top: 70px;
        font-family: 'Seymour One', sans-serif;
    } */

    h2{
        text-align: center;
    }

    .text-block {
        display: grid;
        grid-template-columns: 1fr; 
        padding: 1em;
        grid-row-gap: 20px;
      }

    
    .main-photo {
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }


    .skip #skip-mobile {
        display: none;
        visibility: hidden;
    }

    #current{
        text-decoration: underline;
    }

    

    @keyframes slide-in {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }
    
    h2{
    animation: slide-in 1000ms;
    }

      .w3-dropdown-click{
        display: none;
    }
    #top{
        display:none;
    }

    .open-button {
        display:none;
      }
      
} 


/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .overview{
        background: url('../imgs/prague-high.jpeg') no-repeat center;
        background-position: initial;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-size: cover;
        padding-bottom: 30px;
    }

    .skip #skip-mobile {
        display: none;
        visibility: hidden;
    }

    .block > .main-photo{
        display: none;
        visibility: hidden;
    }

    body{
        /* width: 70%; */
        text-align: center;
        align-items: center;
        margin: 0;
    }

    .text-block{
        margin-top: 25px;
    }

    #darkMode {
        bottom: 0px;
        left: 50px;
    }
} 

/* computer */
@media only screen and (min-width: 1025px){
    .w3-dropdown-click{
        display: none;
    }
    #top{
        display:none;
    }

    .open-button {
        display:none;
      }
}





@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    h2{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    .gif {
        display: none;
        visibility: hidden;
    }
  }

