/* PETS */
html{
    scroll-behavior: smooth;
}

nav:hover, nav:focus {
    text-decoration: underline;
}

#current{
    color: #6F4E37;
    font-weight:bold;
    text-transform:uppercase
}

body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	background: #f6f5f4;
    overflow-x: hidden;
}

.skip {
    position: absolute;
    top: 30px; 
    left: 10px;
    font-size: 20px; 
    background-color: #f6f5f4;
}

.skip #skip-mobile:focus{
    visibility: visible;
}

.skip a{
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    color: black;
  }

  nav li{
    display:inline;
    padding-right:20px;
    font-family: Courier, monospace;

  }

  /* #animate{
    animation-name: animate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes animate {
    0%   {text-decoration: underline dotted; }
    25%  {text-decoration: none;}
    50%  {text-decoration: underline dotted;}
    100% {text-decoration: none;}
  } */

.overview{
    background-attachment: fixed;
    background-image: url('../imgs/PETSSS.jpeg'); /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: 	#86837f;
    height: 500px;                /* Parallax effect */
  }


h1
{
    font-size:50px;
    text-align: center;
    font-family: billabong;
    background-color: #f6f5f4;
}

h2
{
    font-size:30px;
    color: #86837f;
    font-family: Verdana;
}
/* 
.skip #skip-mobile {
    display: none;
    visibility: hidden;
} */

h3
{
    font-size:20px;
    color: #000000;
    font-family: Courier, monospace;
    text-decoration: underline dotted;
    font-weight: bold;
    text-align: center;
}

p
{
    line-height: 2.5;
    font-family: Courier, monospace;
    text-align: center;
    font-size: 13px;
}

img 
{
    border: 3px white;
    width:auto;
    padding: 10px;
    margin: 20px;
}

/* ul
{
    display: inline-block;
    margin-left: 50px;
} */

nav
{
    border: 3px black;
    color: black;
}

a{
    border: black;
    color: black;
}

/* .thumbnail
{
    border: solid white 5px;
    margin: auto;
    padding: 20px;
} */

/* .text-block ul {
    display: flexj;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    overflow: auto; 
  } */

/* .text-block img {
    width: 20%;
} */


/* .text-block ul:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 10px;
    background: #6F4E37;
} */

.block ul{
    background-color: #c2b4aa;
    overflow: auto;
    white-space: nowrap;
    margin-left: 15px;
    margin-right:15px;
}

.block ul > li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 13px;
}

.block li > img {
    width: 200px ;
}

 .likes > ul  {
    background-color: #f6f5f4;
    text-align: center;
}

.likes > ul > li {
    color:black;
    text-align: center;
    
}

.block .likes > img:hover {
    background-color: white;
}

.likes li{
    font-size: 18px;
    
}

/* .text-block > *{
    padding: 1rem;
} */

.main-photo {
    width: 300px;
    float: left;
}


.skip li {
    color: black;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: 5px;
        padding: 0;
        font-size: 60%;
    }

    /* p{
        float: right;
    } */

    .overview{
        background: url('../imgs/PETSSS.jpeg') no-repeat center;
        background-position: initial;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-size: cover;
    }

    nav li{
        float:none;
        text-align: center;
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }

    h1{
        padding-top: 80px;
    }

    h2{
        text-align: center;
    }

    .likes li{
        text-align: center;
        margin: 0;
        line-height: 2.5;
        font-family: Courier, monospace;
    }
    
    .main-photo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .skip #skip-mobile {
        display: none;
        visibility: hidden;
    }

    #current{
        text-decoration: underline;
    }
/* 
    h2{
    animation-name: animate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    } */


} 

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .overview{
        background: url('../imgs/PETSSS.jpeg') no-repeat center;
        background-position: initial;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-size: cover;
    }

    .block > .main-photo{
        display: none;
        visibility: hidden;
    }

    body{
        /* width: 70%; */
        text-align: center;
        align-items: center;
        margin: 0;
    }

    .skip #skip-mobile {
        display: none;
        visibility: hidden;
    }

    .block ul > li {
        display: inline-block;
    }

    .block ul {
        max-height: 300px; 
        margin-right: 15px;
        margin-left: 15px;
    }

} 

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    h2{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    .gif {
        display: none;
        visibility: hidden;
    }
  }
