/* RECIPES */
html{
    scroll-behavior: smooth;
}

nav:hover, nav:focus {
    text-decoration: underline;
}

#current{
    color: #6F4E37;
    font-weight:bold;
    text-transform:uppercase
}

body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	background: #f6f5f4;
    overflow-x: hidden;
    /* margin: 10px; */
}

.skip {
    position: absolute;
    top: 30px; 
    left: 10px;
    font-size: 20px; 
    background-color: #f6f5f4;
}

.skip a{
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    color: black;
  }

  /* .skip-tablet {
    position: absolute;
    margin-top: 20px;
    left: 10px;
    font-size: 20px; 
    background-color: #f6f5f4;
}

.skip-tablet a{
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    color: black;
  } */

.w3-dropdown-click {
    position: absolute;
    /* margin-top: 0px; */
    /* left: 10px; */
    font-size: 20px; 
    background-color: #6F4E37;
    color: white;
    text-align: left;
}


.skip #skip-mobile:focus{
    visibility: visible;
}

  nav li{
    display:inline;
    padding-right:20px;
    font-family: Courier, monospace;

  }

.overview{
    background-attachment: fixed;
    background-image: url('../imgs/RECIPESSS.jpeg'); /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: 	#86837f;
    height: 500px;   
    /* margin: 0px;              */
  }


h1
{
    font-size:50px;
    text-align: center;
    font-family: billabong;
    background-color: #f6f5f4;
}

h2
{
    font-size:30px;
    color: black;
    font-family: Verdana;
}

h3
{
    font-size:20px;
    color: #000000;
    font-family: Courier, monospace;
    text-decoration: underline dotted;
    font-weight: bold;
}

p
{
    line-height: 2.5;
    font-family: Courier, monospace;
    text-align: center;
    font-size: 13px;
}

img 
{
    border: 3px white;
    width:auto;
    padding: 10px;
    margin: 20px;
    /* max-width: 70%; */
}

/* ul
{
    display: inline-block;
    margin-left: 50px;
} */

nav
{
    border: 3px black;
    color: black;
}

a{
    /* text-align: underline; */
    border: black;
    color: black;
}

/* .thumbnail
{
    border: solid white 5px;
    margin: auto;
    padding: 20px;
} */

/* .text-block ul {
    display: flexj;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    overflow: auto; 
  } */

.text-block {
    margin: 10px;
}

.text-block img {
    width: 20%;
}

.main-photo {
    width: 400px;
    float: left;
}

/* .addyafter {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 10px;
    background: #6F4E37;
} */

/* .skip #skip-mobile {
    display: none;
    visibility: hidden;
} */


.block ul {
    background-color: #c2b4aa;
    overflow: auto;
    white-space: nowrap;
    max-height: 300px;
    margin-right: 15px;
    border: 2px solid black;
    margin-left: 15px;
}

.block h2 {
    text-decoration: underline;
}

.block ul > li {
    /* display: inline-block; */
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 13px;
}

.block ol > li{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 13px;
}

ol {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2;
}

.block li > img {
    width: 200px ;
}

.block li img:hover {
    background-color: white;
}


.addy{
    display: flex;
    margin-left: 20px;
    margin-right: 20px; 
    /* max-width: 70%; */
    height: 70%;
    background-color: #c2b4aa;
    border: solid black 2px;
    /* object-fit: cover; */
    /* width: 500px; */
}

.skip li {
    color: black;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


/* Small devices (portrait tablets and large phones, 600px and up) 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 60%;
    }
/* 
    p{
        float:right;
    } */

    h2{
        text-align: center;
    }

    .scroll-menu {
        width: 100%;
    }

    .overview{
        background: url('../imgs/RECIPESSS.jpeg') no-repeat center;
        background-position: initial;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-size: cover;
    }

    nav li{
        float:none;
        text-align: center;
    }
    h3{
        text-align: center;
    }

    h1{
        padding-top: 80px;
        text-align: center;
    }


    .text-block {
        /* display: grid; */
        grid-row-gap: 20px;
        /* border: 10px #6F4E37; */
        margin: 0 auto;
        padding: 0;
        width: auto;
      }
    
    .main-photo{
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        
    }

    .skip #skip-mobile {
        display: none;
        visibility: hidden;
    }

    #current{
        text-decoration: underline;
    }
    #top{
        display:none;
    }
    .open-button {
        display:none;
      }

} 



/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .overview{
        background: url('../imgs/RECIPESSS.jpeg') no-repeat center;
        background-position: initial;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-size: cover;
    }

    .skip #skip-mobile {
        display: none;
        visibility: hidden;
    }

    .block > .main-photo{
        display: none;
        visibility: hidden;
    }

    body{
        /* width: 70%; */
        text-align: center;
        align-items: center;
        margin: 0;
    }

} 

/* computer */
@media only screen and (min-width: 1025px){
    .w3-dropdown-click{
        display: none;
    }

    .open-button {
        display:none;
      }

      #top{
        display:none;
    }
}


@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    h2{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    .gif {
        display: none;
        visibility: hidden;
    }
  }
